/* Hobbies */
#hobbiesSection {
    background-color: #2b2333;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #6c757d; 
}

#hobbiesSection h3 {
    font-weight: bolder;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hobby-img {
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    object-fit: cover;
}


/* hero */
.hero-container {
    background-image: url('pngtree-seamless-looping-abstract-motion-background-white-polygonal-geometric-surface-in-4k-uhd-3840x2160-generated-by-computer-technology-photo-image_24851136.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* footer */
footer {
    background-color: #272b30; 
    padding: 20px 0;
    color: #ffffff; 
    text-align: center;
}

/* links */
.social-links {
    text-align: center; 
    margin-top: 20px;
}

.social-links a {
    margin: 0 15px; 
    text-decoration: none; 
}

.social-links img {
    width: 40px; 
    height: 40px;
}


/* Contact button */
#contactMeBtn {
    background-color: #ffffff; 
    padding: 10px 20px;
    color: #343a40; 
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#contactMeBtn:hover {
    background-color: #808080; 
}

/* Modal  */
#contactInfoModal .modal-content {
    background-color: #343a40; 
    color: #ffffff; 
}

/* media Icons */
.social-links img {
    width: 40px; 
    height: 40px;
}

/* Nav */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; 
    transition: color 0.3s ease; 
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #6c757d; 
}


/* education */
#educationCarousel {
    max-width: 600px;
    margin: 0 auto;
  }
  #educationCarousel .carousel-inner {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
  }
  #educationCarousel h3 {
    color: #2b2333;
    margin-bottom: 15px;
  }
  #educationCarousel ul {
    padding-left: 0;
    text-align: center; 
  }
  #educationCarousel .carousel-control-prev-icon,
  #educationCarousel .carousel-control-next-icon {
    filter: invert(1); 
  }


/* hobbies */
  .hobby-overlay, .work-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    top: 0;
    left: 0;
  }
  .position-relative:hover .hobby-overlay, .position-relative:hover .work-overlay {
    opacity: 1;
  }
  
  #education {
    background-color: #343a40;
    color: #000000;
    
  }

  #projects {
    background-color: #343a40;
    color: #fff;
  }



  #hobbies {
    background-color: #2b2333;
    color: #fff;
    
  }

  #work {
    background-color: #2b2333;
    color: #fff;
    
  }


  .carousel-inner {
    color: #fff;
  }